/* theme customizations */
@eval color1 co.quicko.whatfix.data.Themer.color1();
@eval font co.quicko.whatfix.data.Themer.font();
@eval font_size co.quicko.whatfix.data.Themer.font_size();
@eval line_height co.quicko.whatfix.data.Themer.line_height();
.deck {
	font-family: font;
	font-size: font_size;
	line-height: line_height;
}

.deck input,.deck textarea,.deck select,.deck button {
	font-family: font;
	font-size: font_size;
	line-height: line_height;
}

@def deck_h_gap 10px;
@def deck_v_gap 13px;
@def footer_height 50px;

.deck {
	color: white;
	background-color: color1;
	border-spacing: 3px;
	border: 2px solid #3F4751;
	box-sizing: border-box;
	border-radius: 4px;
}

.deckMove {
	color: white;
	font-size: 2em;
}

.deckActionGap {
	padding-left: 5px;
}

.contentUnavailable {
	text-align: center;
	background-color: white;
	color: #73787A;
	line-height: 44px;
}

.contentUnavailable img{
	margin: 100px 0 0;
}

.closeButton {
	position: absolute;
	right: 1.5%;
	margin-top: 6px;
}

.bottomHeight {
	height: 44px;
}

.flowNavigateLeft,.flowNavigateRight {
	font-size: 3em !important;
	opacity: 0.6;
	position: absolute;
	color: #8C96A9;
	top: 50%;
}

.flowNavigateLeft:hover,.flowNavigateRight:hover {
	opacity: 1;
}

.flowNavigateLeft {
	text-align: left;
	left: 2%;
}

.flowNavigateRight {
	text-align: right;
	right: 2%;
}

.cancelCircle {
	font-size: 1.5em;
	opacity: 0.6;
	color: #8C96A9;
	position: absolute;
	top: 4%;
	right: 3%;
}

.cancelCircle:hover {
	opacity: 1;
}

.error {
    padding: 20px;
}

.brandLogo {
 color: #FFFFFF;	
 font-size: 12px !important;
 position: absolute;
 margin-top: 3px;
}

.powered {
    color: #FFFFFF;
	font-size: 11px;
	white-space: nowrap;
	margin-left: 9px;
}

.slideNumberLabel {
	color: white;
	font-size: 14px;
	font-weight: 600;
	line-height: 44px;
}

.resizeSlide {
	color: white;
	font-size: 1.5em;	
	margin-right: 9px;
	vertical-align: middle !important;
}

.deckBorderSpacing {
	border-spacing: 9px 4px;
}
