@font-face {
  font-family: 'deck-v3';
  src:  url('fonts/deck-v3.eot?9x20ci');
  src:  url('fonts/deck-v3.eot?9x20ci#iefix') format('embedded-opentype'),
    url('fonts/deck-v3.woff2?9x20ci') format('woff2'),
    url('fonts/deck-v3.ttf?9x20ci') format('truetype'),
    url('fonts/deck-v3.woff?9x20ci') format('woff'),
    url('fonts/deck-v3.svg?9x20ci#deck-v3') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class\^="ico-"], [class\*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'deck-v3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@external ico-*;

.ico-arrow-left:before {
  content: "\e900";
}
.ico-arrow-right:before {
  content: "\e901";
}
.ico-logo:before {
  content: "\e91a";
}
.ico-spinner:before {
  content: "\e917";
}
.ico-cancel-circle:before {
  content: "\e913";
}
.ico-repeat:before {
  content: "\f01e";
}
.ico-expand:before {
  content: "\f065";
}
.ico-compress:before {
  content: "\f066";
}
.ico-external-link:before {
  content: "\f08e";
}
.ico-arrow-circle-left:before {
  content: "\f0a8";
}
.ico-arrow-circle-right:before {
  content: "\f0a9";
}
.ico-angle-double-right:before {
  content: "\f101";
}
.ico-angle-left2:before {
  content: "\f109";
}
.ico-angle-right:before {
  content: "\f105";
}