@def stepWidth 600px;
@def stepHeight 400px;
@def microStepWidth 400px;
@def microStepHeight 400px;
@def blogPlusWidth 60px;
.blog {
	font-size: 16px;
	line-height: 26px;
	color: #444;
	background-color: white;
	border-spacing: 20px;
}

.title {
	font-size: 1.2em;
	font-weight: bold;
}


.snap {
    -webkit-box-shadow: 0px 0px 5px lightgray;
    -ms-box-shadow: 0px 0px 5px lightgray;
    -moz-box-shadow: 0px 0px 5px lightgray;
	box-shadow: 0px 0px 5px lightgray;
}

.snaps {
	border-spacing: 20px;
}

.authorWrap {
	font-size: 14px;
	line-height: 18px;
}

.poweredBy {
	font-size: 0.8em;
	white-space: nowrap;
	color: #9FA6B7;
	font-size: 12px;
	padding-right: 10px;
	display: table-cell;
}

.brandLogo {
	font-size: 15px !important;
	color: #9FA6B7;
	position: absolute;
	margin-top: 5px;
}

.brandLogo:HOVER {
	color: #00bcd4;
}

.footerPanel {
	display: table;
}

.footerStyle {
	background: #F2F2F7;
	padding: 20px 24px;
	box-sizing: border-box;
}

.blogFootnote {
	line-height: 1.2em;
}