@font-face {
  font-family: 'blog-v2';
  src:  url('fonts/blog-v2.eot?jths9q');
  src:  url('fonts/blog-v2.eot?jths9q#iefix') format('embedded-opentype'),
    url('fonts/blog-v2.woff2?jths9q') format('woff2'),
    url('fonts/blog-v2.ttf?jths9q') format('truetype'),
    url('fonts/blog-v2.woff?jths9q') format('woff'),
    url('fonts/blog-v2.svg?jths9q#blog-v2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[clas\^="ico-"], [class\*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blog-v2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@external ico-*;

.ico-logo:before {
  content: "\e91a";
}
.ico-spinner:before {
  content: "\e919";
}
