@font-face {
  font-family: 'tasker-v4';
  src:  url('fonts/tasker-v4.eot?ykvnd5');
  src:  url('fonts/tasker-v4.eot?ykvnd5#iefix') format('embedded-opentype'),
    url('fonts/tasker-v4.woff2?ykvnd5') format('woff2'),
    url('fonts/tasker-v4.ttf?ykvnd5') format('truetype'),
    url('fonts/tasker-v4.woff?ykvnd5') format('woff'),
    url('fonts/tasker-v4.svg?ykvnd5#tasker-v4') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class\^="ico-"], [class\*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tasker-v4' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@external ico-*;

.ico-angle-down:before {
  content: "\f108";
}
.ico-angle-up:before {
  content: "\f106";
}
.ico-group:before {
  content: "\e904";
}
.ico-group-open:before {
  content: "\e905";
}
.ico-text:before {
  content: "\e906";
}
.ico-link:before {
  content: "\e900";
}
.ico-flow:before {
  content: "\e901";
}
.ico-video:before {
  content: "\e902";
}
.ico-check_box_empty:before {
  content: "\e903";
}
.ico-logo:before {
  content: "\e91a";
}
.ico-spinner:before {
  content: "\e917";
}
.ico-check-circle:before {
  content: "\f058";
}
.ico-cancel-circle:before {
  content: "\e913";
}