/* theme customizations */
@eval color7 co.quicko.whatfix.data.Themer.color7();
@eval font co.quicko.whatfix.data.Themer.font();
@eval color3 co.quicko.whatfix.data.Themer.color3();
@eval font_size co.quicko.whatfix.data.Themer.font_size();
@eval line_height co.quicko.whatfix.data.Themer.line_height();

.tasker {
	font-family: font;
	font-size: font_size;
	line-height: line_height;
	color: #73787A;
}

.tasker input,.tasker textarea,.tasker select,.tasker button {
	font-family: font;
	font-size: font_size;
	line-height: line_height;
}

.tasker {
    width: 100%;
    background-color:white;
	border-spacing: 0px;
}

input,textarea,select,button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.header {
    color: white;
    width: 100% !important;
    background-color: #ed9121;
    border-bottom: 1px solid #ebeced;
}

.close {
    padding: 10px 10px 0px 0px;
    float: right;
	color: white;
	font-size: 1.2em !important;
	position: absolute;
	top: 0px;
	right: 0px;
}

.close svg {
	fill: white;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.headerTitle {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    word-wrap: break-word;
    vertical-align: middle;
    padding-top: 35px;
    
}
.headerTitle:focus {
	outline:none;
}
.progressBar {
    line-height: 12px;
    padding: 17px 10px 3px 10px; 
    display: inline-block;
    width: 60%;
}

.outerTracker, .innerTracker {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.outerTracker {
    display: inline-block;
    background-color: white !important;
    width: 100%;
    margin-left: 10px;
    opacity: 0.3;
    height: 12px;
}

@def outerTracker_width 100;

.innerTracker {
    display: block;
    background-color: white !important;
    width: 0%;
    height: 12px;
    position: relative;
    top: -13px;
    margin-left: 10px;
}

.trackerLabel {
    width: 30%; 
    display: inline-block;
    margin-left: 20px;
    line-height: 12px;
}

.trackerLabelMobile{
	width: 100% !important;
	text-align: center;
	margin-left: auto;
}

.scroller {
	width: 100%;
	height: 420px;
	scroll-behavior: smooth;
}

.scroller::-webkit-scrollbar {
	height: 6px;
	width: 6px;
	background: white;
}

.scroller::-webkit-scrollbar-thumb {
	background: lightgray;
	-webkit-border-radius: 1ex;
}

.scroller::-webkit-scrollbar-corner {
	background: #000;
}

.container {
	background-color: white;
}

.element {
    display: table-cell;
    color: #73787A;
    padding:24px 0 24px 20px;
    vertical-align: middle;
    text-decoration: none;
    width: 80%;
}

.elementFull{
	width: 100%;
	padding-right: 20px;
}

.element:focus{
	outline: none;
}

.tickComplete svg {
    width: 20px;
    height: 20px;
    fill: #70b770 !important; 
}

.powered {
    font-weight: bold;
    color: #a9b2bf;
	font-size: 0.8em;
	white-space: nowrap;
}

.brand {
    margin-right: 24px;
}

.nothing {
	color: gray;
	border-bottom-style: none;
}

.rowBackground {
	background-color : #f7f8fa;
}

.noTransform{
	transform: none !important;	
	-ms-transform: none !important;
	-webkit-transform: none !important;
}

.brandLogoTasker svg {
	fill: #00BCD4;
 	height: 11px;
	width: 53px;
}

.progressPanel{
	height: 45px;
}

.taskerContentListPanel > div > div {
	height: 65px;
}

.taskerGroupPanel > div > table > tbody > tr > td > a > table {
	height: 65px;
	position: relative;
}

.taskerGroupPanel > div > table > tbody > tr > td > div > div > div {
   	height: 65px;
	position: relative;
}

.taskerEnd {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.taskerGroupCompleteIcon {
	position: relative;
}

.taskerGroupCompleteIcon > div { 
    position: absolute;
    color: #70b770;
    border-radius: 100%;
    background-color: white;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.disablePanel {
    position: relative;
}

.disablePanel:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0.5;
    cursor: not-allowed !important;
    z-index: 1000000;
}

.taskerHeaderText span {
    margin-left: 5px;
    font-weight: normal !important;
}

.taskerTextHeaderPanel {
    height: 65px;
}

.widgetGroupContentPanel {
    display: table;
    width: 100%;
}

.widgetGroupContentPanel > div:HOVER {
    background-color: #EFEFF4;
}

.widgetGroupContentPanel > div:HOVER{
    background-color: #EFEFF4;
}

.widgetGroupContentPanel > div {
    display: table;
    width: 100%;
    background-color: #F8F8FB;
}

.widgetGroupContentPanel > div > div:FIRST-CHILD {
    display: table-cell;
    width: 10%;
    vertical-align: middle;
}

.widgetGroupContentPanel > div > div:LAST-CHILD {
    display: table-cell;
    width: 90%;
    vertical-align: middle;
}

.trialLogo{
	margin-left:10px;
}
