@font-face {
  font-family: 'widget-v7';
  src:  url('fonts/widget-v7.eot?flwz5y');
  src:  url('fonts/widget-v7.eot?flwz5y#iefix') format('embedded-opentype'),
    url('fonts/widget-v7.woff2?flwz5y') format('woff2'),
    url('fonts/widget-v7.ttf?flwz5y') format('truetype'),
    url('fonts/widget-v7.woff?flwz5y') format('woff'),
    url('fonts/widget-v7.svg?flwz5y#widget-v7') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class\^="ico-"], [class\*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'widget-v7' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@external ico-*;

.ico-group:before {
  content: "\e908";
}
.ico-group-open:before {
  content: "\e909";
}
.ico-angle-down:before {
  content: "\f108";
}
.ico-angle-up:before {
  content: "\f106";
}
.ico-edit:before {
  content: "\e905";
}
.ico-chat:before {
  content: "\e903";
}
.ico-email-line:before {
  content: "\e904";
}
.ico-ticket:before {
  content: "\e931";
}
.ico-logo:before {
  content: "\e91a";
}
.ico-text:before {
  content: "\e900";
}
.ico-link:before {
  content: "\e901";
}
.ico-flow:before {
  content: "\e902";
}
.ico-video:before {
  content: "\e906";
}
.ico-search:before {
  content: "\f002";
}
.ico-circle-o:before {
  content: "\f10d";
}
.ico-spinner:before {
  content: "\e917";
}
.ico-close:before {
  content: "\e907";
}
.ico-cancel-circle:before {
  content: "\e913";
}