
/* theme customizations */
@eval color2 co.quicko.whatfix.data.Themer.color2();
@eval color3 co.quicko.whatfix.data.Themer.color3();
@eval font co.quicko.whatfix.data.Themer.font();
@eval font_size co.quicko.whatfix.data.Themer.font_size();
@eval line_height co.quicko.whatfix.data.Themer.line_height();

@def close_color #C3C8C9;
@def close_hover_color #737879;
@def placeholder_color #c3c7c9;

[class\^="ico-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.widget {
	font-family: font;
	font-size: font_size;
	line-height: line_height;
	table-layout: fixed;
	position: relative;
}

.widget input,.widget textarea,.widget select,.widget button {
	font-family: font;
	font-size: font_size;
	line-height: line_height;
}

.widget {
	color: color2;
	background-color: white;
 	border: 1px solid;
    width: 100%;
}

input,textarea,select,button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: color2;
}

.header { 
    white-space: nowrap;
}

.headerTitle {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 18px !important;
    padding: 15px 5px 15px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    box-sizing: border-box;
    outline: none !important;
}

.close {
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	opacity: 0.7;
	vertical-align: middle;
}

.close svg {
    width: 18px;
    height: 20px;
    vertical-align: middle;
   	outline: none;
}

.close:hover {
    opacity: 1;
}

.searchPanel, .mobileSearchPanel {
    background-color: #ffffff;
    padding-left: 3%;
    padding-top: 12px;
    float: left;
    box-sizing: border-box;
}

.searchPanelWithTab {
    width: 100%;
    background-color: #F4F5F7;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 12px;
    float: left;
    box-sizing: border-box;
}

.searchPanel {
    width: 93%;
}

.tabPanel {
    background-color: #F4F5F7;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 12px;
    float: left;
    box-sizing: border-box;
    width: 100%;
}

.mobileSearchPanel {
    width: 90%;
}

.searchGrid {
   width: 100%;
   border-bottom: 1px solid lightgray;
   padding-bottom: 2px;
   line-height: 30px;
}

.searchGridWithTab {
    width: 100%;
    border: 1px solid #E1E4EA;
    padding-left: 2%;
    padding-bottom: 2px;
    padding-top: 2px;
    line-height: 30px;
    background-color: #ffffff;
}

.searchGridProgress {
   border-bottom: 1px solid #73787A; 
}

.trialLogoForSelfHelp{
	background: #00BCD4;
	height:30px;
}

.searchIconCell {
    height: 100%;
    width: 6.5%;
}
.searchIconCellWithTab {
    height: 100%;
    width: 12px;
}

.search {
	width: 100%;
	border: 0px solid;
	outline: none;
}

.search:focus+.searchLabel {
	font-size: 12px;
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
	visibility: visible !important;
	text-transform: uppercase;
	opacity: 1;
	transition: 0.2s ease-in-out;
}

.thankYouPanel img {
    margin: 70px 0 10px !important;
}

.searchLabel {
	color: #596377;
	pointer-events: none;
	position: absolute;
	opacity: 0;
	top: 12.5%;
	left: 3%;
	font-weight: bold;
}

.searchLabelNoHeader {
	top: 0.1%;
}

.search:focus {
	outline: none;
	box-shadow: none;
	background-position: 0 0;
	transition: 0.2s ease-in-out;
}

.search::-webkit-input-placeholder {
	color: #596377;
}

.search:focus::-webkit-input-placeholder {
	color: transparent;
}

.search:-moz-placeholder {
	color: #596377;
}

.search:focus:-moz-placeholder {
	color: transparent;
}

.search::-moz-placeholder {
	color: #596377;
}

.search:focus::-moz-placeholder {
	color: transparent;
}

.search::-ms-clear {
    display: none; 
}

.closeBesideSearch {
    position: relative;
    float: right;
    font-size: 18px;
    padding: 8px 1.7% 3px 1%;
}

.closeBesideSearch svg {
	fill: close_color;
	width: 18px;
	height: 18px;
}

.closeBesideSearch:hover {
    color: close_hover_color;
}

.searchClear {
   position: relative;
   left: 10px;

}

.searchClear svg {
	fill: close_color;
	height: 1em;
	width: 1em;
	outline: none;
    display: table-cell;
}

.searchClear:hover svg{
  	fill: close_hover_color;
}

.closePanel {
    display: table;
    float: right;
}

.onlyCloseIcon {
    color: close_color;
    font-size: 14px;
    padding: 5px 14px 3px 7px;
}

.onlyCloseIcon:hover {
    color: close_hover_color;
}

.scroller {
	height: inherit;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.scroller::-webkit-scrollbar {
	height: 6px;
	width: 6px;
	background: white;
}

.scroller::-webkit-scrollbar-thumb {
	background: #cacaca;
	-webkit-border-radius: 1ex;
}

.scroller::-webkit-scrollbar-corner {
	background: #000;
}

.container {
	padding: 2px 1px 2px 0px;
	min-height: 280px;
}

.containerwithTab {
    padding: 2px 1px 2px 0px;
}

.containerForTrial {
	padding: 2px 1px 2px 0px;
	min-height: 270px;
}

.progressor {
    text-align: center;
    padding-top: 120px; 
}

.brandPanel {
    padding-right: 16px;
    table-layout: fixed;
}

.brand {
	table-layout: fixed;
}

.noBrandPanel {
    height: 4px;
}

.marginTrial{
	margin-left: 14px;
	    height: 22px;
	    margin-top:4px;
	    margin-bottom : 4px;
}

.powered {
    color: #FFFFFF;
	font-size: 11px;
	white-space: nowrap;
}

.nothingFound {
    text-align: center;
}

.nothingFoundLabel {
    margin: 15px 0px !important;
}

.scrollableNothingFound {
    z-index: 999999;
    position: relative;
}

.scrollableNothingFound div {
    pointer-events: none;
}

.nothingFound img{
	margin: 40px 0px 30px;
}

.nothing {
	margin: 70px 0px 26px;
    display: block;
    padding: 0px 20px;   
}

.shareEmail, .shareAnonymously {
    display: inline !important;
    color: #596377;
    font-weight: 400 !important;
    line-height: 26px;
    font-size: 12px;
}

.toggleButton {
    width: 5%;
    padding-top: 4px;
}

.clickableText {
    display: inline !important;
    color: #4993FF;
    font-weight: 400 !important;
    cursor: pointer;
    line-height: 26px;
    font-size: 12px;
}

.shareFeedbackGrid {
    display: inline-table;
    width: 84%;
    height: 32px;
}
.nothingWithImage{
	margin: 0px !important;
}

.nothing:hover {
	background-color: white;
}

.scroller::-webkit-scrollbar-thumb:hover {
	background: #939798;
}

.scroller::-webkit-scrollbar-thumb:active {
	background: #939798;
}

.noBorderTop {
    border-top: none;
}

.noBorderLeft {
   border-left: none;
}

.noBorderRight {
    border-right: none;
}

.noBorderBottom {
    border-bottom: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: placeholder_color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: placeholder_color;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: placeholder_color;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: placeholder_color;
}
.iconContainer{
	margin: 70px 0px 26px;
	display: table;
    margin: 0 auto;
    border-spacing: 16px 0px;
}
.widgetIcon {
	width: 56px;
	height: 52px;
	background: #F2F3F5;
	box-sizing: border-box;
	border:  1px solid #F2F3F5;
	display: table-cell;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 16px;
	font-size: 22px !important;
	border-radius: 2px;
}

.widgetIcon:HOVER {
	background: #E4E6EA;
	border: 1px solid #B4BCC1;
}

.widgetIcon svg {
	fill: #87929b;
	width: 25px;
	vertical-align: middle;
	display: table-cell;
	margin: auto;
	outline: none;
}

.widgetIcon:HOVER svg {
	fill: #596377;
}

.editSegmentAnchor {
 position: absolute;
 display: inline-block;
 font-size: 18px !important;
 width: 44px !important;
 height: 44px !important;
 background-color: #00BCD4 !important;
 border-radius: 50%;
 bottom: 20px !important;
 right: 20px !important;
 color: white !important;
}

.marginBottom20 {
 margin-bottom: 20px;
}

.editSegmentAnchor:before {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}

.newSegmentAnchor:before {
 transform: translate(-50%, -50%) rotate(135deg);
}

.flowEmptyLabel {
 font-size: 13px !important;
 margin: 20px 0px; 
}

.videoLauncher {
 width: 252px;
 height: 46px;
}

.nothingFoundWithVideo {
 text-align: center;
 margin-top: 50px;
 width: 100%;
}

.textIcon {
	vertical-align: top;
	padding-top: 13px;
}
.hideSelfHelpDummySpan {
	position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.heading {
       font-size: larger;
       font-weight: bolder;
       margin: 10px 0 5px 0;
}

.boldText {
    font-weight : bold;
    margin: 0 0 5px 0;
}

.sendFeedBack {
    margin: 5px 0 0 0;
}

.feedbackTextArea{
    margin : 5px;
    width : 80%;
    height : 60px;
    resize : none;
    font-weight: 400 !important;
}

.emailTextBox{
    width : 80%;
    resize : none;
    margin-bottom : 7px;
    font-weight: 400 !important;
}

.footerPanel {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    background: white;
    box-shadow: 0 0 10px 0 #E1DEEA;
}
