.footnoteBar {
	width: 580px;
	height: 20px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-ms-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-webkit-box-shadow: 0px 3px 6px lightgray;
	-ms-box-shadow: 0px 3px 6px lightgray;
	-moz-box-shadow: 0px 3px 6px lightgray;
	box-shadow: 0px 3px 6px lightgray;
}

.pdfFootnote {
	line-height: 42px;
	padding: 20px 50px;
	box-sizing: border-box;
}

.pdfFootnote img {
    max-height: 20vh;
}

.pdfFootnote iframe {
    max-height: 20vh;
}

.pdfTitleDesc {
	font-size: 30px;
	font-weight: bold;
	padding: 15px 50px;
	box-sizing: border-box;
	-webkit-border-radius: 5px 5px 0px 0px;
	-ms-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-webkit-box-shadow: 0px 3px 6px lightgray;
	-ms-box-shadow: 0px 3px 6px lightgray;
	-moz-box-shadow: 0px 3px 6px lightgray;
	box-shadow: 0px 3px 6px lightgray;
}

.branding {
	z-index: 99999;
	width: 230px;
	height: 45px;
	right: 60px;
	bottom: 0;
	height: 45px;
	position: absolute;
	box-sizing: border-box;
	-webkit-border-radius: 11px 11px 0px 0px;
	-ms-border-radius: 11px 11px 0px 0px;
	-moz-border-radius: 11px 11px 0px 0px;
	border-radius: 11px 11px 0px 0px;
	background: white;
	display: table;
	text-align: center;
}

.branding>div {
	display: table-cell;
	vertical-align: middle;
}

.branding img {
	width: 70px;
	height: 14px;
}

.brandingText {
	font-size: 14px;
	color: #808080;
	display: inline;
}


.pdfDescription {
	padding: 15px 50px;
}

.pdfDescription img {
	max-height: 20vh;
}

.pdfDescription iframe {
	max-height: 20vh;
}

.pdfDescription p {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	line-height: initial !important;
}

.popup {
	z-index: 99999;
	width: 580px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	-webkit-border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	box-sizing: border-box;
	overflow: hidden !important;
	max-height: 70%;
}

.pageContainer {
	position: relative;
}

.pdfSnaps {
	margin: 5px 0px;
}

.page {
	font-family: "Open Sans", Helvetica, Arial, sans-serif
}

.portraitFirstPage {
	position: relative;
	height: 842px;
	width: 100%;
	left: 0px;
	top: 0px;
}

.flowContainer {
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	background: #F4F5F7;
	max-height: 180px;
	overflow: hidden;
}

.pdfFlowTitle {
	width: 80%;
	overflow-y: visible;
	padding-top: 20px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-transform: capitalize;
	color: #323648;
	margin-left: auto;
	margin-right: auto;
	word-break: break-word;
}

.pdfFlowDesc {
	width: 90%;
	overflow-y: visible;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	color: #6c7c9c;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
	word-break: break-word;
}

.pdfStepTitle {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 24px;
	color: #323648;
	max-height: 100px;
	overflow-y: hidden;
	word-break: break-word;
}

.pdfStepTitleRTL {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 24px;
	color: #323648;
	max-height: 100px;
	overflow-y: hidden;
	word-break: break-word;
	width: 350px;
}

.pdfStepDesc {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #596377;
	max-height: 140px;
	overflow-y: hidden;
	word-break: break-word;
}

.pdfStepSnapPortrait {
	position: absolute;
	width: 360px;
	height: 240px;
	left: 11px;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.pdfStepInfo {
	margin-left: 35px;
}

.dummyMargin {
	width: 100%;
	height: 7px;
}

.horizontalSeparator {
	position: relative;
	width: 98%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
	margin-bottom: 0px;
	background: #F4F5F7;
	border: none;
}

.gridStyle {
	margin-top: 22px;
}

.innerGridStyle {
	margin-top: 1px;
}

.innerGridStyleRTL {
	margin-top: 1px;
	margin-left: 35px;
}

.flowHzSeparator {
	width: 21px;
	text-align: center;
	height: 2px;
	border: none;
	background: #9FA6B7;
	border-radius: 0px;
}

.portraitPageBreak {
	width: 100%;
	position: relative;
}

.portraitFirstPageBreak {
	height: 100%;
	position: absolute;
	z-index: -1;
	bottom: 0;
}

.portraitFootnote {
	position: relative;
	top: 32px;
	max-width: 70%; /*working-added*/
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #596377;
	margin-left: auto;
	margin-right: auto;
	max-height: 160px;
	overflow: hidden;
	word-break: break-word;
}

.portraitFootnote:before {
	right: 0.5em;
	width: 29px;
	background-color: #596377;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
}

.portraitFootnote:after {
	left: 0.5em;
	width: 29px;
	background-color: #596377;
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
}

.pdfWhatfixBrand {
	width: 115px;
	bottom: 5px;
	position: absolute;
	left: 663px;
}